detectron2 @ git+https://github.com/facebookresearch/detectron2.git@bcfd464d0c810f0442d91a349c0f6df945467143
joblib==1.4.2
keras==3.4.1
matplotlib==3.9.1.post1
numpy==2.0.2
opencv-python==4.10.0.84
pandas==2.2.2
pillow==10.4.0
PyYAML==5.1
scikit-learn==1.5.1
scipy==1.13.1
six==1.16.0
streamlit==1.37.0
tensorflow==2.17.0
torch==2.4.0
torchvision==0.19.0
