detectron2 @ git+https://github.com/facebookresearch/detectron2.git@bcfd464d0c810f0442d91a349c0f6df945467143
joblib
keras
matplotlib
numpy
pandas
pillow
scikit-learn
scipy
streamlit
tensorflow
torch
torchvision
